.main-date-range-picker-container {
  display: flex;
  gap: 0.75rem;
  width: fit-content;

  & [disabled] {
    pointer-events: none;
    opacity: 0.6;
  }

  & .date-range-picker-granularity-dropdown-container {
    border: 1px solid #ccc;
    cursor: pointer;

    & select.date-range-picker-granularity-dropdown {
      height: 100%;
      border: none;
      padding: 10px;
    }
  }

  & .date-range-picker-container {
    position: relative;
    display: inline-block;

    & .date-range-picker-display {
      padding: 10px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.75rem;
    }

    & .date-range-picker-calendar-container {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      display: none;
      z-index: 10;

      & .date-range-picker-calendar-body {
        display: flex;
        max-height: 220px;

        & .calendar {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & .calendar-header {
            display: flex;
            justify-content: space-between;

            & .start-date-calendar-month,
            & .end-date-calendar-month {
              flex: 1;
              text-align: center;
            }
          }

          & .calendar-clickable-cell {
            cursor: pointer;
          }

          & .calendar-footer {
            display: flex;
            justify-content: space-around;
            gap: 0.75rem;
          }

          & .calendar-time-picker {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
          }

          &.ranges-container {
            overflow: auto;
            scrollbar-width: thin;

            & .calendar-ranges-list {
              list-style-type: none;
              margin: 0;
              padding: 0;

              & .calendar-ranges-list-element {
                margin: 0.2rem;
              }
            }
          }
        }
      }
    }

    & .date-range-picker-footer-container {
      display: flex;
      justify-content: end;
      padding: 10px;
    }
  }
}
